.dangky {
    border: 5px solid red;
    background-color: gray;
}
ul {
    padding: 5px;
}
ul li {
    list-style-type: none;
    padding-bottom:3px;
}
label {
    font-family: Tahoma;
    font-size:18px;
    font-style: bold;
}
input {
    color: blue;
    font-size:18px;
}